*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #333;
    --dark-green: #2F6058;
    --medium-green: #438A7E;
    --light-green: #89C1B6;
}

body{
    font-family: Arial, sans-serif;    
    background-color: var(--light-green);
}

.container{
    max-width: 700px;
    height: 600px;
    margin: 60px auto;
    padding: 20px;
    background-color: var(--dark-green);
    /* border: 1px solid #ddd; */
    box-shadow: 50px 50px 100px rgba(0,0,0,0.5);
    border-radius: 10px;
    text-align: center;
    color: wheat;
}

h1{
    font-size: 40px;
}

h1 i{
    margin: 0 20px;
}

.inputContent{
    margin: 30px 20px;    
}

.inputContent .todoInput{
    width: 400px;
    padding: 12px;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 20px;
    margin: 0 20px;
    box-shadow: 5px 5px 5px 5px var(--primary-color);
}

.todoInput:focus{
    outline: none;
    box-shadow: 0 0 10px var(--light-green);
}

.addTask{
    color: wheat;
    background-color: var(--light-green);
    padding: 10px 20px;
    border: none;
    box-shadow: 3px 3px 3px 3px var(--primary-color);
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px;
}

.addTask:hover{
    opacity: 0.9;
    box-shadow: 0 0 10px var(--light-green);
}

.todos{
    /* border: 1px solid red; */
    list-style-type: none;
    margin: 30px auto;
    padding: 20px;
    background-color: var(--dark-green);
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px var(--primary-color);
    max-width: 550px;
    max-height: 400px;
    overflow-y: auto;
}

.todos::-webkit-scrollbar{
    background: var(--light-green);
    border-radius: 5px;
}

.todos::-webkit-scrollbar-thumb{
    background: var(--medium-green);
    border-radius: 5px;
}

.todoItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.todoText{
    width: 400px;
    height: 3rem;
    font-weight: 600;
    background-color: var(--light-green);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
}

.todoText:hover{
    box-shadow: 0 0 10px var(--medium-green);
}

.todoText::-webkit-scrollbar{
    background: var(--light-green);
    border-radius: 15px;
}

.todoText::-webkit-scrollbar-thumb{
    background: var(--medium-green);
    border-radius: 15px;
}

li i{
    /* border: 1px solid red; */
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 10px;
    margin: 0 5px;    
}

i:hover{
    background-color: wheat;
    color: var(--dark-green);
    cursor: pointer;
}

.checked p{
    text-decoration: line-through;
    color: var(--primary-color);
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 90%;

    }
    .todoInput {
        max-width: fit-content;
    }
    .todos {
      max-width: 90%;
    }
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 90%;
    }
    .todoInput {
        max-width: 300px;
    }
    .todos {
      width: 90%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 650px;
    }
    .todoInput {
        max-width: 400px;
    }
    .todos {
        width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 700px;
    }
    .todoInput {
        max-width: 400px;
    }
    .todos {
      max-width: 90%;
    }
}

